@import "tailwindcss";

:root {
  --beige: #E4CBA5;
  --dark-green: #00452E;
  --black: #050E09;
  
  --background: #ffffff;
  --foreground: var(--black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--dark-green);
  --color-secondary: var(--beige);
  --color-accent: var(--black);
  --font-sans: var(--font-roboto);
  --font-display: var(--font-roboto-condensed);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}

.font-display {
  font-family: var(--font-display), system-ui, sans-serif;
}
